/* #region Imports */

@import "color";
@import "font";

/* #endregion Imports */

/* #region Global Style */

/* #region Nav Style */
nav {
  overflow: hidden;
  background-color: @grey-dark;
  position: relative;

  a.logo {
    padding: 0 0 0 10px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #burger {
    display: none;
  }

  /* Style navigation menu links */
  a {
    color: @grey-light;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  /* Style the hamburger menu */
  a.icon {
    background: @black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: @black;
    color: @red;
    font-family: @heavyWeight;
    font-size: 2em;
  }

  .inactive {
    font-family: @heavyWeight;
    font-size: 1em;
  }

  .inactive:hover {
    background-color: @red;
  }

  .fa-bars {
    color: @white;
    font-size: 1.8em;
  }

}

.navLinks {
  display: none;
}


/* #endregion Nav Style */

/* #region Main Style */

/* #region Main Mixins */
  .defaultStructures() {
    padding: 10px;
    margin: 5px;
    background-color: @grey-light;

    h1 {
      font-size: 1.2em;
      font-family: @heavyWeight;
      text-align: center;
    }

    h2 {
      font-family: @mediumWeight;
      font-size: 1.2em;
    }

    h3 {
      font-family: @mediumWeight;
      font-size:1.1em;

    }

    p {
      font-family: @lightWeight
    }

    ul {
      list-style-type: disc;
      margin-left: 25px;
      margin-bottom: 10px;
    }

    li {
      font-family: @lightWeight;
    }

    section {
      .defaultPadding;
    }
  }

  .hide() {
    display: none;
  }

  .radioButton {
    margin-left: auto;
  }

   /* #endregion Main Mixins */
body {
  background-color: @grey;
}

main {
  background-color: @grey;
}

.boxOne, .boxTwo, .boxThree, .boxFour, .boxFive {
  .defaultStructures();
}

.bigBold {
  font-family: @mediumWeight;
}

form {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 5px 5px;
  max-width:600px;
  margin: 0 auto;

  label {
    font-family: @lightWeight;
  }

  #athlete {
    .radioButton();
  }
  
  #volunteer {
    .radioButton();
  }

  #interested {
    .radioButton();
  }

  .radioButtonLabel {
    padding-left: 5px;
  }
}

.registrationForm {
  grid-template-columns: 120px 1fr;
}

.registrationLabel {
  font-size: .9em;
}
p {
  margin: 5px 5px;
}

/* #region Form Style */

#honeypot {
  .hide();
}
/* #endregion Form Style */

/* #endregion Main Style */

/* #region Footer Style */

footer {
  background-color: @grey-dark;
  padding: 10px;

  p {
    font-size: .9em;
    font-family: @lightWeight;
    color: @grey-light;
    text-align: center;  
  }

}

/* #endregion Footer Style */

/* #region FAQ Style */
/* definition list */

dl {
  margin: 0 10px;
}
dt, dd {
  margin: 2px 0;
}

dt {
   cursor: pointer;
   font-size: 1.5em;
   font-family: @mediumWeight;
}
dt:hover {
   color: @red-dark;
}

dd {
   font-size: 1.2em;
   font-style: italic;
   font-family: @lightWeight;
}

/* arrow icon left */

dt:before {
   border: 0.5em solid;
   border-color: transparent transparent transparent #f2eeef;
   content: '';
   display: inline-block;
   height: 0;
   margin-right: 0.5em;
   vertical-align: middle;
   width: 0;
}

dt:hover:before {
   border-left-color: @red-dark;

}

/* arrow icon down */

dt.open:before {
   border-color: #f2eeef transparent transparent transparent;
   border-bottom-width: 0;
}
   
dt.open:hover:before {
   border-left-color: transparent;
   border-top-color: @red-dark;
}
/* #endregion FAQ Style */

/* #endregion Global Style */

/* #region Tablet Style */
@media(min-width: 900px){
  /* #region Main Style */

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* #region Nav Style */

  .boxTwo {
    grid-column: 1 e("/") 3;
  }

  .fa {
    display: none;
  }

  .navLinks {
    display: inline-block;
  }
  nav {

    background-color: @black;
    
    a {
      display: inline-block
    }

    a.icon {
      display: none;
    }
    
    #burger {
      display: inline-block;
    }
  }

  /* #endregion Nav Style */

  /* #endregion Main Style */
}
/* #endregion Tablet Style */

/* #region Desktop Style */
  @media(min-width: 1440px){
  /* #region Main Style */
    .boxOne {
      grid-column: 1 e("/") 4;
    }

    .boxTwo {
      grid-column: 1 e("/") 2;
    }

    .grid {
      grid-template-columns: repeat(3, 1fr);
    }

    #wrapper {
      max-width: 1440px;
      margin: 0 auto 0 auto;
    }
  /* #endregion Main Style */
  }
/* #endregion Desktop Style */