/* #region Imports */

@import "color";
@import "font";

/* #endregion Imports */

/* #region Global Style */

/* #region Nav Style */
nav {
  overflow: hidden;
  background-color: @grey-dark;
  position: relative;

  a.logo {
    padding: 0 0 0 10px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #burger {
    display: none;
  }

  /* Style navigation menu links */
  a {
    color: @grey-light;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  /* Style the hamburger menu */
  a.icon {
    background: @black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: @black;
    color: @red;
    font-family: @heavyWeight;
    font-size: 2em;
  }

  .inactive {
    font-family: @heavyWeight;
    font-size: 1em;
  }

  .inactive:hover {
    background-color: @red;
  }

  .fa-bars {
    color: @white;
    font-size: 1.8em;
  }



}
.navLinks {
  display: none;
}


/* #endregion Nav Style */

/* #region Main Style */

/* #region Main Mixins */
  .defaultStructures {
    padding: 10px;
    margin: 5px;
    background-color: @grey-light;

    h2 {
      font-family: @mediumWeight;
      font-size: 1.2em;
      margin-bottom: 5px;
    }

    p {
      font-family: @lightWeight;
    }
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

   /* #endregion Main Mixins */
body {
  background-color: @grey;
}
main {
  background-color: @grey;
}

.boxOne {
  .hide();
  .defaultStructures();
}

.boxTwo {
  .hide();
  .defaultStructures();
}

.boxThree {
  .defaultStructures();
}

.boxFour {
  .defaultStructures();
}
/* #endregion Main Style */

/* #region Footer Style */

footer {
  background-color: @grey-dark;
  padding: 10px;

  p {
    font-size: .9em;
    font-family: @lightWeight;
    color: @grey-light;
    text-align: center;  
  }

}

/* #endregion Footer Style */


/* #endregion Global Style */

/* #region Tablet Style */
@media(min-width: 900px){
  /* #region Main Style */

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* #region Nav Style */

  .boxTwo {
    .show();
    grid-column: 1 e("/") 3;
  }

  .fa {
    display: none;
  }

  .navLinks {
    display: inline-block;
  }
  nav {

    background-color: @black;
    
    a {
      display: inline-block
    }

    a.icon {
      display: none;
    }
    
    #burger {
      display: inline-block;
    }
  }

  /* #endregion Nav Style */

  /* #endregion Main Style */
}
/* #endregion Tablet Style */

/* #region Desktop Style */
  @media(min-width: 1440px){
  /* #region Main Style */
    .boxOne {
      .show();
      grid-column: 1 e("/") 4;
    }

    .boxTwo {
      grid-column: 1 e("/") 2;
    }

    .grid {
      grid-template-columns: repeat(3, 1fr);
    }

    #wrapper {
      max-width: 1440px;
      margin: 0 auto 0 auto;
    }
  /* #endregion Main Style */
  }
/* #endregion Desktop Style */