/* #region Imports */
/* #region Main Palette */
/* #endregion Main Palette */
/* #region Greyscale Palette */
/* #endregion Greyscale Palette */
/* #endregion Imports */
/* #region Global Style */
/* #region Nav Style */
nav {
  overflow: hidden;
  background-color: #303030;
  position: relative;
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
  /* Style the hamburger menu */
  /* Style the active link (or home/logo) */
}
nav a.logo {
  padding: 0 0 0 10px;
}
nav #burger {
  display: none;
}
nav a {
  color: #dcdcdc;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
nav a.icon {
  background: #000000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
nav .active {
  background-color: #000000;
  color: #ff0000;
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
}
nav .inactive {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}
nav .inactive:hover {
  background-color: #ff0000;
}
nav .fa-bars {
  color: #ffffff;
  font-size: 1.8em;
}
.navLinks {
  display: none;
}
/* #endregion Nav Style */
/* #region Main Style */
/* #region Main Mixins */
.radioButton {
  margin-left: auto;
}
/* #endregion Main Mixins */
body {
  background-color: #a9a9a9;
}
main {
  background-color: #a9a9a9;
}
.boxOne,
.boxTwo,
.boxThree,
.boxFour,
.boxFive {
  padding: 10px;
  margin: 5px;
  background-color: #dcdcdc;
}
.boxOne h1,
.boxTwo h1,
.boxThree h1,
.boxFour h1,
.boxFive h1 {
  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin: 5px 0;
}
.boxOne h2,
.boxTwo h2,
.boxThree h2,
.boxFour h2,
.boxFive h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
  margin: 5px 0;
}
.boxOne h3,
.boxTwo h3,
.boxThree h3,
.boxFour h3,
.boxFive h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
  margin: 5px 0;
}
.boxOne p,
.boxTwo p,
.boxThree p,
.boxFour p,
.boxFive p {
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0;
}
.boxOne ul,
.boxTwo ul,
.boxThree ul,
.boxFour ul,
.boxFive ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 10px;
}
.boxOne li,
.boxTwo li,
.boxThree li,
.boxFour li,
.boxFive li {
  font-family: 'Open Sans', sans-serif;
}
.boxOne section,
.boxTwo section,
.boxThree section,
.boxFour section,
.boxFive section {
  padding: 5px 0;
}
.bigBold {
  font-family: 'Heebo', sans-serif;
}
form {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 5px 5px;
  max-width: 600px;
  margin: 0 auto;
}
form label {
  font-family: 'Open Sans', sans-serif;
}
form #athlete {
  margin-left: auto;
}
form #volunteer {
  margin-left: auto;
}
form #interested {
  margin-left: auto;
}
form .radioButtonLabel {
  padding-left: 5px;
}
.registrationForm {
  grid-template-columns: 120px 1fr;
}
.registrationLabel {
  font-size: 0.9em;
}
p {
  margin: 5px 5px;
}
/* #region Form Style */
#honeypot {
  display: none;
}
/* #endregion Form Style */
/* #endregion Main Style */
/* #region Footer Style */
footer {
  background-color: #303030;
  padding: 10px;
}
footer p {
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  color: #dcdcdc;
  text-align: center;
}
/* #endregion Footer Style */
/* #region FAQ Style */
/* definition list */
dl {
  margin: 0 10px;
}
dt,
dd {
  margin: 2px 0;
}
dt {
  cursor: pointer;
  font-size: 1.5em;
  font-family: 'Heebo', sans-serif;
}
dt:hover {
  color: #990000;
}
dd {
  font-size: 1.2em;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
/* arrow icon left */
dt:before {
  border: 0.5em solid;
  border-color: transparent transparent transparent #f2eeef;
  content: '';
  display: inline-block;
  height: 0;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 0;
}
dt:hover:before {
  border-left-color: #990000;
}
/* arrow icon down */
dt.open:before {
  border-color: #f2eeef transparent transparent transparent;
  border-bottom-width: 0;
}
dt.open:hover:before {
  border-left-color: transparent;
  border-top-color: #990000;
}
/* #endregion FAQ Style */
/* #endregion Global Style */
/* #region Tablet Style */
@media (min-width: 900px) {
  /* #region Main Style */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* #region Nav Style */
  .boxTwo {
    grid-column: 1 / 3;
  }
  .fa {
    display: none;
  }
  .navLinks {
    display: inline-block;
  }
  nav {
    background-color: #000000;
  }
  nav a {
    display: inline-block;
  }
  nav a.icon {
    display: none;
  }
  nav #burger {
    display: inline-block;
  }
  /* #endregion Nav Style */
  /* #endregion Main Style */
}
/* #endregion Tablet Style */
/* #region Desktop Style */
@media (min-width: 1440px) {
  /* #region Main Style */
  .boxOne {
    grid-column: 1 / 4;
  }
  .boxTwo {
    grid-column: 1 / 2;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #wrapper {
    max-width: 1440px;
    margin: 0 auto 0 auto;
  }
  /* #endregion Main Style */
}
/* #endregion Desktop Style */
