/* #region Imports */
/* #region Main Palette */
/* #endregion Main Palette */
/* #region Greyscale Palette */
/* #endregion Greyscale Palette */
/* #endregion Imports */
/* #region Global */
/* #region Nav */
nav {
  overflow: hidden;
  background-color: #303030;
  position: relative;
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* navigation menu links */
  /* the hamburger menu */
  /* the active link (or home/logo) */
}
nav a.logo {
  padding: 0 0 0 10px;
}
nav #burger {
  display: none;
}
nav a {
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
nav a.icon {
  background: #000000;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
nav .active {
  background-color: #000000;
  color: #ff0000;
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
}
nav .inactive {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}
nav .inactive:hover {
  background-color: #ff0000;
}
nav .fa-bars {
  color: #ffffff;
  font-size: 1.8em;
}
.navLinks {
  display: none;
}
/* #endregion Nav */
/* #region Main */
/* #region Main Mixins */
.radioButton {
  margin-left: auto;
}
/* #endregion Main Mixins */
body {
  background-color: #a9a9a9;
}
main {
  background-color: #a9a9a9;
}
h1 {
  font-size: 1.2em;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
.boxOne,
.boxTwo,
.boxThree,
.boxFour,
.boxFive,
.boxSix,
.boxSeven {
  padding: 10px;
  margin: 5px;
  background-color: #dcdcdc;
}
.boxOne h2,
.boxTwo h2,
.boxThree h2,
.boxFour h2,
.boxFive h2,
.boxSix h2,
.boxSeven h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}
.boxOne h3,
.boxTwo h3,
.boxThree h3,
.boxFour h3,
.boxFive h3,
.boxSix h3,
.boxSeven h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
}
.boxOne p,
.boxTwo p,
.boxThree p,
.boxFour p,
.boxFive p,
.boxSix p,
.boxSeven p {
  font-family: 'Open Sans', sans-serif;
}
.boxOne ul,
.boxTwo ul,
.boxThree ul,
.boxFour ul,
.boxFive ul,
.boxSix ul,
.boxSeven ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 10px;
}
.boxOne li,
.boxTwo li,
.boxThree li,
.boxFour li,
.boxFive li,
.boxSix li,
.boxSeven li {
  font-family: 'Open Sans', sans-serif;
}
.boxOne section,
.boxTwo section,
.boxThree section,
.boxFour section,
.boxFive section,
.boxSix section,
.boxSeven section {
  padding: 5px 0;
}
.boxFour,
.boxSeven {
  display: none;
}
.bigBold {
  font-family: 'Heebo', sans-serif;
}
form {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 5px 5px;
  max-width: 600px;
  margin: 0 auto;
}
form label {
  font-family: 'Open Sans', sans-serif;
}
form #athlete {
  margin-left: auto;
}
form #volunteer {
  margin-left: auto;
}
form #interested {
  margin-left: auto;
}
form .radioButtonLabel {
  padding-left: 5px;
}
.registrationForm {
  grid-template-columns: 120px 1fr;
  border-style: outset;
  border-width: 5px;
  border-color: #dcdcdc;
}
.registrationLabel {
  font-size: 0.9em;
}
p {
  margin: 5px 5px;
}
.banner {
  width: 100%;
}
#registration,
.formWrap,
.defaults {
  padding: 10px;
  margin: 5px;
  background-color: #dcdcdc;
}
#registration h2,
.formWrap h2,
.defaults h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}
#registration h3,
.formWrap h3,
.defaults h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
}
#registration p,
.formWrap p,
.defaults p {
  font-family: 'Open Sans', sans-serif;
}
#registration ul,
.formWrap ul,
.defaults ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 10px;
}
#registration li,
.formWrap li,
.defaults li {
  font-family: 'Open Sans', sans-serif;
}
#registration section,
.formWrap section,
.defaults section {
  padding: 5px 0;
}
.faqSpacer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.imageDefaults {
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
}
.pictureCenter {
  margin: 0 auto;
  text-align: center;
}
/* #region Form */
#inquiryForm {
  border-style: outset;
  border-width: 5px;
  border-color: #dcdcdc;
}
#honeypot {
  display: none;
}
/* #endregion Form */
/* #endregion Main */
/* #region Footer */
footer {
  background-color: #303030;
  padding: 10px;
}
footer p {
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  color: #dcdcdc;
  text-align: center;
}
footer i.fab {
  font-size: 2em;
  padding: 5px 10px;
}
footer .socialMedia {
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer a:link,
footer a:visited {
  color: #dcdcdc;
}
footer a:hover {
  color: #dcdcdc;
}
/* #endregion Footer */
/* #region FAQ */
/* definition list */
dl {
  margin: 0 10px;
}
dt,
dd {
  margin: 2px 0;
}
dt {
  cursor: pointer;
  font-size: 1.1em;
  font-family: 'Heebo', sans-serif;
}
dt:hover {
  color: #990000;
}
dd {
  font-size: 1.2em;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
/* arrow icon left */
dt:before {
  border: 0.5em solid;
  border-color: transparent transparent transparent #f2eeef;
  content: '';
  display: inline-block;
  height: 0;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 0;
}
dt:hover:before {
  border-left-color: #990000;
}
/* arrow icon down */
dt.open:before {
  border-color: #f2eeef transparent transparent transparent;
  border-bottom-width: 0;
}
dt.open:hover:before {
  border-left-color: transparent;
  border-top-color: #990000;
}
/* #endregion FAQ */
/* #region Showcase */
.bigPhoto {
  display: none;
}
.thumbnail-inner {
  max-width: 100%;
}
.thumbnail-item {
  max-width: 100%;
  cursor: pointer;
}
/* #endregion Showcase */
/* #region Feeds */
.facebookCustom {
  padding: 10px;
  margin: 5px;
  background-color: #dcdcdc;
  text-align: center;
  display: none;
}
.facebookCustom h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}
.facebookCustom h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
}
.facebookCustom p {
  font-family: 'Open Sans', sans-serif;
}
.facebookCustom ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 10px;
}
.facebookCustom li {
  font-family: 'Open Sans', sans-serif;
}
.facebookCustom section {
  padding: 5px 0;
}
.twitterCustom {
  padding: 10px;
  margin: 5px;
  background-color: #dcdcdc;
  text-align: center;
  display: none;
}
.twitterCustom h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}
.twitterCustom h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
}
.twitterCustom p {
  font-family: 'Open Sans', sans-serif;
}
.twitterCustom ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 10px;
}
.twitterCustom li {
  font-family: 'Open Sans', sans-serif;
}
.twitterCustom section {
  padding: 5px 0;
}
.weatherCustom {
  padding: 10px;
  margin: 5px;
  background-color: #dcdcdc;
  text-align: center;
}
.weatherCustom h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
}
.weatherCustom h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
}
.weatherCustom p {
  font-family: 'Open Sans', sans-serif;
}
.weatherCustom ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 10px;
}
.weatherCustom li {
  font-family: 'Open Sans', sans-serif;
}
.weatherCustom section {
  padding: 5px 0;
}
/* #endregion Feeds */
/* #endregion Global */
/* #region Tablet */
@media (min-width: 900px) {
  /* #region Nav */
  .fa {
    display: none;
  }
  .navLinks {
    display: inline-block;
  }
  nav {
    background-color: #000000;
  }
  nav a {
    display: inline-block;
  }
  nav a.icon {
    display: none;
  }
  nav #burger {
    display: inline-block;
  }
  /* #endregion Nav */
  /* #region Main */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .boxOne,
  .boxTwo,
  .boxSix,
  .weatherCustom {
    grid-column: 1 / 3;
  }
  .boxFive {
    text-align: center;
  }
  /* #endregion Main */
  /* #region Showcase */
  .gallery-photos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bigPhoto {
    display: block;
    text-align: center;
  }
  .thumbnail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  /* #endregion Showcase */
}
/* #endregion Tablet */
/* #region Desktop */
@media (min-width: 1440px) {
  /* #region Main */
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .boxOne,
  .boxTwo,
  .boxSix {
    grid-column: 1 / 4;
  }
  .boxFour,
  .boxSeven {
    display: block;
    margin-top: auto 5px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .boxSeven {
    display: block;
    margin-top: auto 5px;
    padding-top: 100px;
  }
  .imageBox {
    max-width: 100%;
    object-fit: cover;
  }
  #wrapper {
    max-width: 1440px;
    margin: 0 auto 0 auto;
  }
  /* #endregion Main */
  /* #region Showcase */
  .gallery-photos {
    padding: 0 270px;
  }
  /* #endregion Showcase */
  /* #region Feeds */
  .facebookCustom {
    display: block;
  }
  .twitterCustom {
    display: block;
  }
  .weatherCustom {
    grid-column: 2 / 3;
    padding-top: 150px;
  }
  /* #endRegion Feeds */
}
/* #endregion Desktop */
